/* OBLIGATOIRE */

* {
  box-sizing: border-box;
}

.validator-css {
  float: right;
  margin: 1%;
}

.margin-page {
  margin-left: 5%;
  margin-right: 5%;
}
/* GENERAL */

body {
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.main-title {
  font-size: 120%;
  color: black;
  font-weight: 950;
}

.minor-title {
  font-size: 100%;
  text-decoration: none;
  color: #252222;
  font-weight: 400;
}

.margin-2-5 {
  margin-left: 2.5%;
  padding-top: 2.5%;
}

.margin {
  margin-left: 5%;
}

.fr-trend {
  float: right;
  margin-right: 5%;
}

.hover:hover {
  background-color: lightblue;
}

.strong {
  font-weight: bold;
}

.pt {
  padding-top: 3%;
  font-weight: revert;
}

.pb {
  padding-bottom: 3%;
}

.pb-pop {
  padding-bottom: 7%;
}

.pb-pop1 {
  padding-bottom: 4%;
}
.zoom-pop:hover {
  transform: scale(1.05);
}

.bleu {
  color: #0065fc;
}

.gris {
  color: #f2f2f2;
}

/* DESKTOP */

.page {
  margin-left: 70px;
  margin-right: 70px;
}

/* HEADER DESKTOP */

#logo {
  max-width: 1000px;
  max-height: 150px;
  padding-left: 10px;
  padding-top: 10px;
  float: left;
}

.act {
  padding-top: 10px;
  line-height: 48px;
  font-size: 150%;
  color: gray;
  justify-content: space-between;
}

.heb {
  padding-top: 10px;
  line-height: 48px;
  font-size: 150%;
  justify-content: space-between;
}

.heb:hover {
  border-top: 1px solid rgb(0, 101, 252, 1);
  color: rgb(0, 101, 252, 1);
}

.act:hover {
  border-top: 1px solid rgb(0, 101, 252, 1);
  color: rgb(0, 101, 252, 1);
}

#menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 10px 60px;
  font-size: 12px;
  padding-right: 30px;
  float: right;
}

.search {
  height: 30px;
  margin-top: 3%;
  display: inline-block;
  width: 100%;
  padding-bottom: 4%;
}

input[type="text"] {
  border: none;
  display: inline-block;
  padding: 1%;
  font-size: 120%;
  color: #252222;
  font-weight: 600;
}

input[type="submit"] {
  border: solid;
  border-radius: 0 18px 18px 0;
  background-color: #0065fc;
  line-height: 25px;
  color: white;
  padding-right: 1.5%;
  padding-top: 0.75%;
  padding-bottom: 0.75%;
  padding-left: 1.5%;
  font-size: 100%;
  font-weight: 600;
}

.submit1 {
  display: none;
}

.localisation {
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  display: inline-block;
  line-height: 25px;
  text-align: center;
  width: 30px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 2%;
}

.fa-map-marker-alt {
  padding: 1%;
}
#filtres {
  display: flex;
  display: inline-block;
  justify-content: space-around;
  width: 100%;
  margin-top: 3%;
  font-weight: 800;
  margin-bottom: 1%;
}

.inline-mob1 {
  width: 100%;
  display: inline-block;
}

.border-filtre {
  border: solid;
  border-radius: 60px 60px 60px 60px;
  border-color: #d8d2d2;
  padding-right: 0.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 0;
}

.border-filtre1 {
  border: solid;
  border-radius: 60px 60px 60px 60px;
  border-color: #d8d2d2;
  padding-right: 0.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 0;
}

.border-icon {
  border-radius: 30px 30px 30px 30px;
  background-color: #DEEBFF;
  padding: 0.75%;
  margin-left: -0.4%;
}

.ml25 {
  margin-left: 25px;
}

/* HEBERGEMENTS DESKTOP */

.blochebergements {
  width: 60%;
  background-color: #f2f2f2;
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
}

.hebpop {
  display: flex;
  flex-direction: row;
}

.bloc-heb {
  background-color: white;
  padding: 0.5%;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 5px 5px 1px #f2f2f2;
  margin: 1%;
  margin-bottom: min(2%);
  width: 30%;
  display: inline-block;
}

.img-heb {
  border-radius: 30px 30px 0 0;
  object-fit: cover;
  width: 100%;
  max-height: 160px;
  padding: 1%;
}

.zoom:hover {
  transform: scale(1.2);
}

/* POPULAIRES DESKTOP */

.blocpopulaires {
  flex: none;
  width: 37%;
  margin-left: 2%;
  background-color: #f2f2f2;
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
}

.img-pop {
  border-radius: 30px 0 0 30px;
  object-fit: cover;
  width: 200px;
  height: 170px;
  overflow: hidden;
  float: left;
  padding-right: 4%;
  padding-bottom: 1.5%;
}

.title-pop {
  display: inline-block;
}

.bloc-pop {
  height: 176px;
  position: relative;
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 5px 5px 5px 5px #f2f2f2;
  margin: 6%;
  width: 90%;
  display: inline-block;
  padding-bottom: 15%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
}

.position-star {
  position: absolute;
  top: 80%;
  left: 40%;
}

/* ACTIVITES DESKTOP */

.activites {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.bloc-act-port {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 5px 5px 1px #f2f2f2;
  overflow: hidden;
  width: 18%;
  margin-right: 2%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-left: 0%;
}

.bloc-act {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 5px 5px 1px #f2f2f2;
  overflow: hidden;
  width: 18%;
  margin: 1%;
}

.bloc-act1 {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 5px 5px 1px #f2f2f2;
  overflow: hidden;
  width: 20%;
  margin-left: 3%;
  margin-right: 2%;
  margin-bottom: 1%;
  margin-top: 1%;
  padding-bottom: 2%;
}

.bloc-act-light {
  height: 30%;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 5px 5px 1px #f2f2f2;
  width: 100%;
  display: inline-block;
  margin: 5%;
}

.bloc-act-light1 {
  height: 232px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 5px 5px 1px #f2f2f2;
  width: 95%;
  display: inline-block;
  margin: 5%;
}

.img-act-lg {
  object-fit: cover;
  height: 451px;
  width: 100%;
}


.img-act-light {
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  height: 175px;
  width: 100%;
}
.img-act-light1 {
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  height: 220px;
  width: 100%;
}

.img-act-light2 {
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  height: 130px;
  width: 100%;
}

/* FOOTER DESKTOP */

.bloc-footer {
  background-color: #f2f2f2;
  flex-direction: row;
  padding-top: 1%;
  width: 100%;
}

.propos {
  margin-left: 20%;
}

.assistance {
  width: 70%;
}

/* STYLES DESKTOP */
.spacebetween {
  display: flex;
  justify-content: space-between;
}

.inline-block {
  display: inline-block;
}

.inline-block-footer {
  display: inline-block;
  width: 100%;
}


@media screen and (min-width: 1333px) and (max-width: 1700px) {
  .position-star {
    position: absolute;
    top: 80%;
    left: 53%;
  }

}
@media screen and (min-width: 768px) and (max-width: 1333px) {

.position-star {
  position: absolute;
  top: 80%;
  left: 53%;
}

.img-pop {
  width: 120px;
}

.blochebergements {
  width: 62%;
}

.img-heb {
  height: 150px;
}
}

@media screen and (min-width: 768px) and (max-width: 1074px) {

  .position-star {
    position: absolute;
    top: 80%;
    left: 56%;
  }

  .main-title {
    font-size: 74%;
  }

  .minor-title {
    font-size: 68%;
  }

  .fa-star {
    font-size: 13px;
  }

  .bloc-heb {
    height: 250px;
  }

  .img-heb {
    height: 100px;
  }
  }

/* TABLETTE */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .page {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  html, body {
    overflow-x: hidden;
  }

  .margin-page {
    margin-left: 0%;
    margin-right: 0%;
  }

  .page {
    margin: 0%;
  }
  /* HEADER TABLETTE */

  #logo {
    margin-left: 30%;
    min-width: 40%;
    max-width: 48%;
    height: auto;
  }

  #menu {
    flex-direction: column;
  }

  nav {
    gap: 10px 10px;
  }

  .heb {
    padding-top: 10px;
    border-bottom: 3px solid;
    border-color: #f2f2f2;
    padding-bottom: 3%;
    width: 45%;
    padding-left: 15%;
    padding-right: 20%;
    display: inline-block;
  }

  .act {
    padding-top: 10px;
    border-bottom: 3px solid;
    border-color: #f2f2f2;
    padding-bottom: 3%;
    color: #252222;
    width: 30%;
    padding-right: 33%;
    padding-left: 21%;
    display: inline-block;
  }

  .heb:hover {
    border-bottom: 3px solid rgb(0, 101, 252, 1);
    color: rgb(0, 101, 252, 1);
    border-top: none;
  }

  .act:hover {
    border-bottom: 3px solid rgb(0, 101, 252, 1);
    color: rgb(0, 101, 252, 1);
    border-top: none;
  }

  #filtres {
    font-size: 12px;
  }
  .oneline-mob {
    width: 100%;
    height: 10%;
    justify-content: space-between;
  }
  .column-mob1 {
    justify-content: flex-start;
    margin-top: 1%;
    align-items: center;
    object-fit: contain;
  }

  .column-mob2 {
    justify-content: flex-start;
    margin-top: 1%;
    object-fit: contain;
  }

  .border-filtre {
    width: 20%;
  }

  .border-icon {
    border-radius: 20px 20px 20px 20px;
    background-color: #DEEBFF;
    padding: 1%;
  }

  /* HEBERGEMENTS TABLETTE */

  .blochebergements {
    width: 95%;
    background-color: #f2f2f2;
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
    flex-direction: row;
  }

  .hebpop {
    display: flex;
    flex-direction: column-reverse;
    width: 105%;
  }

  .bloc-heb {
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 5px 5px 1px #f2f2f2;
    margin: 2%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-heb {
    border-radius: 30px 0 0px 30px;
    object-fit: cover;
    width: 100%;
    height: 200px;
  }

  .zoom:hover {
    transform: scale(1.1);
  }

  .position-star {
    position: absolute;
    top: 90%;
    left: 30%;
  }

  /* POPULAIRES TABLETTE */

  .blocpopulaires {
    width: 100%;
    margin-top: 3%;
    background-color: #f2f2f2;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-left: 0%;
    margin-right: 2%;
    padding-top: 12%;
    position: relative;
    text-align: inherit;
    display: flex;
    justify-content: center;
  }

  .img-pop {
    width: 99%;
    border-radius: 30px 30px 30px 30px;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 5%;
  }

  .bloc-pop {
    margin-bottom: 5%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .bloc-pop-tab {
    height: 300px;
    width: 70%;
    margin-right: 0%;
  }

  .bloc-pop-tab1 {
    height: 300px;
    width: 80%;
    margin-left: -32%;
  }

  .bloc-pop-tab2 {
    height: 300px;
    width: 90%;
    margin-left: -41%;
  }

  .tab-title {
    margin-top: 1%;
    width: 100%;
    position: absolute;
    top: 4%;
    display: flex;
    justify-content: center;
  }

  .fr-trend {
    float: none;
    margin-right: 0%;
    margin-left: 2%;
  }

  .pb-pop {
    padding-bottom: 0%;
  }

  .pb-pop-tab {
    padding-bottom: 5%;
  }
  .pb-pop-tab1 {
    padding-bottom: 10%;
  }

  /* ACTIVITES TABLETTE */
  .activites {
    flex-direction: column;
    width: 102%;
    padding-bottom: 2%;
  }

  .img-act-lg {
    width: 100%;
    height: 250px;
  }

  .bloc-act {
    background-color: white;
    padding: 1%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 5px 5px 1px #f2f2f2;
    overflow: hidden;
    margin: 2%;
  }
  
  .bloc-act-port {
    margin: 1%;
    width: 100%;
  }
  .bloc-act-light, .bloc-act-light1, .bloc-act-light2 {
    height: 50%;
    margin: 1%;
    width: 99%;
  }
  
  .inline-block {
    width: 97%;
  }

    .img-act-light {
      height: 250px;
    }

  .img-act-light2 {
    height: 250px;
  }
  /* FOOTER TABLETTE */

  .bloc-footer {
    background-color: #f2f2f2;
    flex-direction: row;
    padding-top: 1%;
    width: 100%;
  }

  .propos,
  .assistance,
  .noshebergements {
    margin-left: 12%;
    padding-right: 10%;
    margin-bottom: 2%;
    padding-bottom: 2%;
  }

  /* STYLES TABLETTE */
  .minor-title {
    font-size: 110%;
    text-decoration: none;
    margin-top: 5px;
  }

  .main-title {
    font-size: 130%;
    text-decoration: none;
  }

  .mt {
    margin-top: 5%;
  }

  .mb {
    margin-bottom: 5%;
  }

  .ml25 {
    margin-left: 10px;
  }

  .padding-top {
    padding-top: 0%;
  }
}

/* MOBILE */

@media screen and (min-width: 357px) and (max-width: 767px) {
  
  .page {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
    margin-right: 20px;
  }


  .margin-page {
    margin-left: 0%;
    margin-right: 0%;
  }

  .page {
    margin: 0%;
  }

  /* HEADER MOBILE */

  #logo {
    margin-left: 35%;
    min-width: 40%;
    max-width: 48%;
    height: auto;
  }

  nav {
    font-size: 100%;
    gap: 0px 20px;
  }

  #menu {
    flex-direction: column;
  }

  .heb {
    padding-top: 10px;
    border-bottom: 3px solid;
    border-color: #f2f2f2;
    padding-bottom: 3%;
    width: 50%;
    padding-left: 11%;
    padding-right: 45%;
    display: inline-block;
  }

  .act {
    padding-top: 10px;
    border-bottom: 3px solid;
    border-color: #f2f2f2;
    padding-bottom: 3%;
    color: #252222;
    width: 50%;
    padding-right: 50%;
    padding-left: 9%;
    display: inline-block;
  }

  .heb:hover {
    border-bottom: 3px solid rgb(0, 101, 252, 1);
    color: rgb(0, 101, 252, 1);
    border-top: none;
  }

  .act:hover {
    border-bottom: 3px solid rgb(0, 101, 252, 1);
    color: rgb(0, 101, 252, 1);
    border-top: none;
  }

  input[type="text"] {
    display: inline-block;
    border-color: #f2f2f2;
    width: 65%;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  #search {
    display: inline-block;
    flex-direction: row;
    width: 100%;
  }

  .submit1 {
    display: block;
    line-height: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
    border: solid;
    border-radius: 15px 15px 15px 15px;
    background-color: #0065fc;
    color: white;
    display: inline-block;
  }

  .button-search {
    padding-left: 13%;
  }
  .localisation {
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    text-align: center;
    width: 30px;
  }

  .display-desk {
    display: none;
  }

  .display-mob {
    display: contents;
  }

  #filtres {
    width: 100%;
    margin-left: 2%;
  }

  .oneline-mob {
    width: 100%;
    margin-right: 100%;
  }

  .column-mob1 {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    object-fit: contain;
    margin-right: 25px;
    width: 48%;
    display: inline-block;
  }

  .column-mob2 {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    object-fit: contain;
    width: 32%;
    display: inline-block;
  }

  .column-mob3 {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    object-fit: contain;
    margin-right: 25px;
    width: 46%;
  }

  .column-mob4 {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    object-fit: contain;
    margin-right: 25px;
    width: 62%;
  }

  .border-filtre {
    width: 100%;
    margin-right: 10px;
  }

  .border-filtre1 {
    width: 100%;
    margin-right: 10px;
    display: inline-block;
    padding: 0%;
  }

  .border-icon {
    border-radius: 20px 20px 20px 20px;
    background-color: #DEEBFF;
    padding: 3%;
    margin-left: -1%;
  }
  


  /* HEBERGEMENTS MOBILE */

  .blochebergements {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
    margin-top: 3%;
  }

  .hebpop {
    display: flex;
    flex-direction: column-reverse;
    width: 110%;
  }

  .bloc-heb {
    height: auto;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 5px 5px 1px #f2f2f2;
    width: 89%;
    padding: 0%;
  }

  .img-heb {
    border-radius: 30px 30px 0 0;
    object-fit: cover;
    width: 100%;
    height: 128px;
  }

  .zoom:hover {
    transform: scale(1.03);
  }

  .margin-2-5 {
    margin-left: 2.5%;
    padding-top: 0%;
  }

  .position-star {
    bottom: 2%;
    left: 40%;
  }

  /* POPULAIRES MOBILE */

  .fr-trend {
    margin-right: 0%;
    float: none;
  }
  .blocpopulaires {
    flex: none;
    width: 100%;
    margin-top: 3%;
    background-color: #f2f2f2;
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
    margin-left: 0%;
  }

  .bloc-pop {
    height: 176px;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 5px 5px 5px 5px #f2f2f2;
    margin: 5%;
    width: 80%;
    display: inline-block;
    padding: 1%;
  }

  .img-pop {
    border-radius: 30px 0 0 30px;
    object-fit: cover;
    width: 40%;
    height: 176px;
    overflow: hidden;
    float: left;
    padding-bottom: 2%;
    padding-right: 4%;
  }

  /* ACTIVITES MOBILE */

  .activites {
    width: 110%;
    flex-direction: column;
  }

  .bloc-act-light, .bloc-act-light1{
    height: auto;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 5px 5px 1px #f2f2f2;
    margin: 1%;
    display: inline-block;
    width: 89%;
  }

  .bloc-act-port, .bloc-act1 {
    padding: 1%;
    margin: 1%;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
  }
  .img-act-lg {
    border-radius: 10px 10px 0px 0px ;
    object-fit: cover;
    height: 184px;
    display: inline-block;
    width: 91%;
  }

  .img-act-light {
    height: 184px;
  }

  .bloc-act-light1 {
    width: 90%;
  }
  .img-act-light1, .img-act-light2 {
    height: 184px;
    width: 100%;
  }

  .margin {
    padding-top: 4%;
    margin-bottom: 3%;
  }

  .inline-block {
    width: 100%;
  }

  /* FOOTER MOBILE */

  .bloc-footer {
    flex-direction: column;
    background-color: #f2f2f2;
    padding-top: 1%;
    width: 100%;
    margin-top: 2%;
  }

  .propos,
  .assistance,
  .noshebergements {
    margin-left: 10%;
    margin-bottom: 2%;
    padding-bottom: 2%;
  }

  /* STYLES MOBILES */
  .minor-title-mob {
    font-size: 120%;
    text-decoration: none;
    margin-top: 5px;
  }


  .main-title {
    margin-top: 4%;
  }

  .fa-star {
    padding-bottom: 3%;
  }
  .opacity-mob {
    opacity: 75%;
  }

  .ml25 {
    margin-left: 0px;
  }

  .mt {
    margin-top: 5%;
  }

  .mb {
    margin-bottom: 5%;
  }
}

/* NE RIEN AFFICHER SI L'ECRAN EST TROP PETIT*/
@media  screen and (max-width: 374px) {
  .page {
    display: none;
  }
}